---
import { getAbsoluteLocaleUrl } from 'astro:i18n'
import { checkPath } from './utils';

const check = (path: string) => {
    return checkPath(Astro.currentLocale || 'en', Astro.url.pathname, path);
}
---

<nav>
    <ul class="flex gap-x-4 text-lg">
        <li class:list={
            [
                "hover:underline", 
                {"underline": check('')}
            ]
        }>
            <a href={getAbsoluteLocaleUrl(Astro.currentLocale || 'en', '')}>about</a>
        </li>
        <li class:list={
            [
                "hover:underline", 
                {"underline": check('projects')}
            ]
        }>
            <a href={getAbsoluteLocaleUrl(Astro.currentLocale || 'en', 'projects')}>projects</a>
        </li>
        <li class:list={
            [
                "hover:underline", 
                {"underline": check('blog')}
            ]
        }>
            <a href={getAbsoluteLocaleUrl(Astro.currentLocale || 'en', 'blog')}>blog</a>
        </li>
    </ul>
</nav>