---
import { getCollection } from 'astro:content';
import { getAbsoluteLocaleUrl } from 'astro:i18n'

const check = (path: string) => {
    return Astro.url.pathname === getAbsoluteLocaleUrl(Astro.currentLocale || 'en', path);
}

const general = (await getCollection("general"))[0].data;
---

<nav>
    <ul class="flex gap-x-4 text-lg">
        {general.nav.map((item: any) => (
            <li class:list={
                [
                    "hover:underline", 
                    {"underline": check(item.link)}
                ]
            }>
                <a href={getAbsoluteLocaleUrl(Astro.currentLocale || 'en', item.link)}>{item.name[Astro.currentLocale || 'en']}</a>
            </li>
        ))}
    </ul>
</nav>